<% include header %>

<%#注释注释这是注释%>

<h1><%=h1%></h1>
<span><%=keywords%></span>
<span><%-keywords%></span>
<p><%=description%></p>


<ul>
    <% for(var i=0;i<list.length;i++){%>
    <li><%=list[i]%></li>
    <% }%>
</ul>







<% include footer %>